extends layout
block body
    div(class="row")
        div(class="column")
            
            form(class="ui form", action="/notes/" + id + "/edit?_method=PUT", method="post")
                input(type="hidden", name="_method" value="put")
                div(class="field") 
                    label Title
                    div(class="ui input")
                        input(type="text", name="title", required, value= "" + title)
                div(class="field")
                    label Note
                    div(class="ui input")
                        textarea(name="text", required)= text
                button(type="submit", class="ui icon positive submit button")
                    i(class="check icon")

                form(method="POST", action="/notes/" + id + "/delete?_method=DELETE", class="delete-button")
                        button(class="ui icon red button", type="submit")
                            i(class="trash icon") 